.item {
  margin-bottom: 30px;
  .item-image {
    position: relative;

    img {
      width: 100%;
    }

    .save-item {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 10;
      color: $brand-light-gray;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .item-details {
    h4, p {
      margin-bottom: 0px;
    }
  }

  .item-review {
    .fa {
      color: $brand-primary;
    }
  }
}
